<div class="info">
  <div class="info-bio">
    <h1>Artur Khurshudyan</h1>
    <p class="subtext">IT System Administrator</p>
    <p>So motivated in learning the web and app development. Very punctual, responsible and attentive, I will be very happy to work with your team. </p>
  </div>

  <div class="info-contacts">
    <table class="contacts">
      <tr>
        <td>Phone</td>
        <td class="contact-right">(+33)688256039</td>
      </tr>
      <tr>
        <td>Website</td>
        <td class="contact-right">www.miem.info</td>
      </tr>
      <tr>
        <td>Email</td>
        <td class="contact-right">contact@miem.info</td>
      </tr>
    </table>
  </div>

  <div class="picture">
    <img src="../../assets/art.jpg" alt="Art" width="200" height="250">
  </div>
</div>

<div class="education">
  <div class="left-block">
    <h3>Education</h3>
  </div>

  <div class="right-block">
    <div class="container">
      <div class="right-block-head">
        <h3>State University of Economy of Erevan</h3>
        <p class="subtext">Enterprise's economy and management</p>
      </div>

      <div class="year">
        1998-2002
      </div>
    </div>

    <div class="container">
      <div class="right-block-head">
        <h3>IPREC, IT High School in Paris</h3>
        <p class="subtext">Administrator of IT systems and network</p>
      </div>

      <div class="year">
        2019-2020
      </div>
    </div>
  </div>
</div>

<div class="experience">
  <div class="left-block">
    <h3>Experience</h3>
  </div>

  <div class="right-block">
    <div class="container">
      <div class="right-block-head">
        <h3>Internet Club</h3>
        <p class="subtext">Owner</p>
        <p class="exp-text">PC sale, Internet Cafe</p>
      </div>

      <div class="year">
        2004-2008
      </div>
    </div>

    <div class="container">
      <div class="right-block-head">
        <h3>CACV</h3>
        <p class="subtext">Technician</p>
        <p class="exp-text">Installation and configuration of LED Panels and LCD Displays</p>
      </div>

      <div class="year">
        2016-2019
      </div>
    </div>

    <div class="container">
      <div class="right-block-head">
        <h3>Individual Enterprise "MIEM Informatique"</h3>
        <p class="subtext">Owner</p>
        <p class="exp-text">PCs and laptops repair, local network installation</p>
      </div>

      <div class="year">
        2019-now
      </div>
    </div>
  </div>
</div>

<div class="skills">
  <div class="left-block">
    <h3>Skills</h3>
  </div>

  <div class="right-block">
    <div class="right-block-head">
      <h3>JavaScript</h3>
      <p class="subtext">Learning</p>
    </div>

    <div class="right-block-head">
      <h3>HTML/CSS</h3>
      <p class="subtext">Learning</p>
    </div>

    <div class="right-block-head">
      <h3>Angular</h3>
      <p class="subtext">Learning</p>
    </div>

    <div class="right-block-head">
      <h3>MS Windows Server 2019</h3>
      <p class="subtext">Mastery</p>
    </div>

    <div class="right-block-head">
      <h3>Office 365</h3>
      <p class="subtext">Mastery</p>
    </div>

    <div class="right-block-head">
      <h3>Cisco</h3>
      <p class="subtext">Mastery</p>
    </div>

  </div>
</div>
