<body style="font-family: Arial,serif">

<div style="background-color: lightskyblue; height: 680px">
  <div style="padding:  10px 50px 0 50px">
    <h2 style="border-bottom:  solid 2px cadetblue; padding: 0 50px 10px 0">CONTACT US</h2>
  </div>

  <div style="background-color: white; margin: 20px 50px; padding: 20px;  : ">
    <table style="">
      <thead>ADDRESS :</thead>
      <tr style="padding: 30px">
        <td style="text-align: left; padding: 5px 50px 5px 0;: ">60 rue Etienne Dolet</td>
        <td><img src="https://icons.iconarchive.com/icons/pelfusion/folded-flat/16/Phone-icon.png" alt="">
          <a href="tel:+33688256039"></a>+33 688256039
        </td>
        <td style="padding-left: 80%; text-align: center">
          <img src="https://img.icons8.com/fluency/344/maps.png;" alt="maps icon" style="height: 40px">
        </td>
      </tr>
      <tr>
        <td>94230 Cachan, France</td>
        <td><img src="https://icons.iconarchive.com/icons/limav/flat-gradient-social/16/email-icon.png" alt="">
          <a href="mailto:contact@miem.info"></a>contact@miem.info
        </td>
      </tr>
    </table>
  </div>

  <div style="background-color: white; margin: 10px 50px; padding: 20px; display: flex; max-height: 500px">
    <form id="info">
    <table style="">
      <tr style="">
        <td>
          <input form="info" type="text" placeholder="Name :" name="name" style="padding: 10px; margin: 0 10px 10px 0; border-radius: 5px; border: cadetblue 1px solid">
        </td>
        <td>
          <input form="info" type="text" placeholder="Company :" name="company" style="padding: 10px; margin: 0 10px 10px 0; border-radius: 5px; border: cadetblue 1px solid">
        </td>
      </tr>
      <tr>
        <td>
          <input form="info" type="email" placeholder="Email :" name="email" style="padding: 10px; margin: 0 10px 10px 0; border-radius: 5px; border: cadetblue 1px solid">
        </td>
        <td>
          <input form="info" type="tel" placeholder="Mobile :" name="mobile"
                 style="padding: 10px; margin: 0 10px 10px 0; border-radius: 5px; border: cadetblue 1px solid">
        </td>
      </tr>
    </table>
      <textarea form="info" placeholder="Message :"
                style="padding: 10px; border-radius: 5px; border: solid cadetblue 1px; min-width: 380px; min-height: 100px; font-family: Arial,serif"></textarea>
      <br>
      <button form="info" type="submit" style="cursor: pointer; border: 1px solid cadetblue; border-radius: 5px; background-color: indianred; margin-top: 10px; padding: 10px 20px; color: white">
        Send
      </button>
    </form>
    <div style="margin-left: 20px">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2628.327736789648!2d2.3374954517931874!3d48.79472327917952!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e671400b4fa427%3A0xbd449295cd34af6f!2s60%20Rue%20Etienne%20Dolet%2C%2094230%20Cachan!5e0!3m2!1sfr!2sfr!4v1650561813131!5m2!1sfr!2sfr"
        width="465" height="320" style="border: cadetblue 1px solid; border-radius: 5px"
        allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <button style="cursor: pointer; margin: 5px 5px 5px 0; width: 38px; height: 38px; background: url(https://icons.iconarchive.com/icons/danleech/simple/48/facebook-icon.png) no-repeat; border: 0; background-size: cover"></button>
      <button style="cursor: pointer; margin: 5px; width: 38px; height: 38px; background: url(https://icons.iconarchive.com/icons/dakirby309/windows-8-metro/48/Web-Twitter-alt-2-Metro-icon.png) no-repeat; border: 0; background-size: cover"></button>
      <button style="cursor: pointer; margin: 5px; width: 38px; height: 38px; background: url(https://icons.iconarchive.com/icons/danleech/simple/48/linkedin-icon.png) no-repeat; border: 0; background-size: cover"></button>
      <button style="cursor: pointer; margin: 5px; width: 38px; height: 38px; background: url(https://icons.iconarchive.com/icons/danleech/simple/48/github-icon.png) no-repeat; border: 0; background-size: cover"></button>
    </div>
  </div>
</div>

</body>
