<div class="page">

<div class="head">

  <div class="logo">
    <div class="food"><img src="../../assets/food.png" alt=""></div>
    <div class="delivery"><img src="../../assets/delivery.png" alt=""></div>
  </div>

  <div class="input-wrapper">
    <input type="text" placeholder="Search" class="search">
    <img src="../../assets/search.png">
  </div>

  <div class="navigation">
    <a href="" class="restaurant">Restaurant</a>
    <a href="" class="deals">Deals</a>
    <a href="" class="order">My orders</a>
    <div class="shop">
      <img src="../../assets/shop.png" alt=""> <img src="../../assets/counter.png" class="counter" alt="">
    </div>
  </div>
  <div class="avatar">
    <img src="../../assets/avatar.png" alt="">
  </div>
</div>

<div class="main">

   <div class="sold-dessert sold">
     <img src="assets/dessert.png" alt="">
     <div class="sold-text">
       <h4>All desserts</h4>
       <h5>20% OFF</h5>
       <h6>Desserty</h6>
     </div>
   </div>
  <div class="sold-burger sold">
    <img src="assets/burger.png" alt="">
    <div class="sold-text">
      <h4>Big Burgers</h4>
      <h5>50% OFF</h5>
      <h6>Fooddies</h6>
    </div>
  </div>

  <button class="pizza button">
    <img src="assets/pizza-icone.png" alt="">
    Pizza
  </button>
  <button class="burger button">
    <img src="assets/burger-icone.png" alt="">
    Burger
  </button>
  <button class="bbq button">
    <img src="assets/bbq-icone.png " alt="">
    BBQ
  </button>
  <button class="sushi button">
    <img src="assets/sushi-icone.jpg" alt="">
    Sushi
  </button>
  <button class="vegan button">
    <img src="assets/vegan-icone.png" alt="">
    Vegan
  </button>
  <button class="dessert button">
    <img src="assets/dessert-icone.png" alt="">
    Desserts
  </button>
</div>

<h2>Nearby restaurants</h2>

<div class="cards">
  <div class="royal-sushi-card card">
    <div class="badge">FEATURED</div>
    <img src="assets/sushi-card.png" class="card-img" alt="">
    <div class="card-info">
      <h3>Royal Sushi House</h3>
      <div class="textbox">
        <img src="assets/horloge.png" alt="">
        <p>30-40 min</p>
        <p>°</p>
        <p>$32 min sum</p>
      </div>
      <div class="card-icone">
        <img src="assets/sushi-little.png" alt="">
        Sushi
      </div>
      <img src="assets/shop-grey.jpg" class="shop-icone" alt="">
    </div>
  </div>

  <div class="burger-pizza-card card">
    <div class="badge">FEATURED</div>
    <img src="assets/burger-card.png" class="card-img" alt="">
    <div class="card-info">
      <h3>Burgers & Pizza</h3>
      <div class="textbox">
        <img src="assets/horloge.png" alt="">
        <p>40-60 min</p>
        <p>°</p>
        <p>$24 min sum</p>
      </div>
      <div class="icone-group">
        <div class="card-icone">
          <img src="assets/burger-little.png" alt="">
          Burger
        </div>
        <div class="card-icone">
          <img src="assets/pizza-little.png" alt="">
          Pizza
        </div>
      </div>
        <img src="assets/icone-counter.jpg" class="counter-icone" alt="">
    </div>
  </div>

  <div class="ninja-sushi-card card">
    <img src="assets/sushi2-card.png" class="card-img" alt="">
    <div class="card-info">
      <h3>Ninja sushi</h3>
      <div class="textbox">
        <img src="assets/horloge.png" alt="">
        <p>20-40 min</p>
        <p>°</p>
        <p>$40 min sum</p>
      </div>
      <div class="card-icone">
        <img src="assets/sushi-little.png" alt="">
        Sushi
      </div>
      <img src="assets/shop-grey.jpg" class="shop-icone" alt="">
    </div>
  </div>

  <div class="menu1-card card">
    <img src="assets/menu1-card.png" class="card-img" alt="">
  </div>
  <div class="menu2-card card">
    <img src="assets/menu2-card.png" class="card-img" alt="">
  </div>
  <div class="menu3-card card">
    <img src="assets/menu3-card.png" class="card-img" alt="">
  </div>
</div>

</div>
