<body>

<div class="head">
  <div>
    <h1>MIEM Informatique</h1>
    <p>Service informatique pour vous</p>
  </div>
  <div class="head-buttons">
    <button>Home</button>
    <button>Services</button>
    <button>Galery</button>
    <button>Company</button>
    <button>Contact</button>
  </div>
</div>

<div class="graphic">
  <div class="border-for-graphic">
    <img
      src="https://img.freepik.com/free-photo/information-technology-computer-network-telecommunication-ethernet-cables-connected-internet-switch_38816-727.jpg?w=826"
      alt="image">
  </div>

  <div class="info">
    <h2>
      Service informatique basé sur la satisfaction des clients.
    </h2>
    <h4>
      Diplôme d'état niveau II (Bac +4) Administrateur System, Réseau, Sécurité et 15 ans d'experience.
    </h4>
    <button>
      Read more
    </button>
  </div>
</div>

</body>
